<main class="welcome-container">
    <h1>Vive Tribuna360</h1>
    <p>
      Tribuna360 es la plataforma digital exclusiva para los verdaderos hinchas del fútbol colombiano. Como abonado, aquí podrás acceder a contenidos especiales, gestionar tus entradas, participar en experiencias únicas con tu equipo favorito y estar siempre conectado con la pasión del fútbol.
      <br />
      Vive tu abono al máximo. Vive Tribuna360.
    </p>
    
    <a routerLink="/login" class="btn btn-primary">Comenzar</a>

  
  <img src="assets/dimayorr.png" class="img-bottom-left" alt="Esquina izquierda" />
  <img src="assets/liga.png" class="img-bottom-right" alt="Esquina derecha" />
  <img src="assets/logotribuna.jpeg" class="img-bottom-center" alt="Centro inferior" />

</main>
