<div class="abonado-container">

  <!-- Botón Cerrar sesión -->
  <button class="btn-cerrar-sesion" (click)="cerrarSesion()">Cerrar sesión</button>

  <h1 class="titulo">¡Gracias por su compra!</h1>
  <p class="mensaje">
    Tu abono ha sido procesado exitosamente. ¡Prepárate para vivir la pasión del fútbol como nunca antes! 
    Disfruta de todos los beneficios de ser parte de tu equipo favorito. ⚽💚
  </p>
</div>

<img src="assets/dimayorr.png" class="img-bottom-left" alt="Esquina izquierda" />
<img src="assets/liga.png" class="img-bottom-right" alt="Esquina derecha" />